body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.header {
    width: calc(100% - 120px);
    height: 70px;
    margin: 0 0 25px 0;
    padding: 0 70px 0 50px;
    background-color: gainsboro;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.drop_down_button,
.dropdown_hover {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Lexend Deca', sans-serif;
    margin: 10px 0 0 0;
    background: none;
    border: none;
    padding-left: 8px;
    text-decoration: none;
    color: black;
    position: relative;
}

.dropdown {
    height: max-content;
    width: 130px;
    position: relative;
}

.dropdown_menu_shadow {
    position: absolute;
    bottom: 0px;
    z-index: -1;
    box-shadow: 0 0 10px black;
    height: 158px;
    width: 130px;
    border-radius: 0 0 10px 10px;
    display: block;
}

.dropdown_menu {
    position: absolute;
    bottom: 0px;
    z-index: -1;
    height: 88px;
    width: 114px;
    background-color: gainsboro;
    padding: 20px 8px 0 8px;
    border-radius: 0 0 10px 10px;
    display: block;
}
.task_add_link,
.task_description,
.task_data_time,
.taskName,
.menu_element {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.dropdown:hover .dropdown_menu, .dropdown:hover .dropdown_menu_shadow {
    bottom: -103px;
}

.dropdown:hover .dropdown_menu {
    z-index: 2;
}

.drop_down_button {
    padding: 0;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
}

.task_wrapper {
    width: 1400px;
    height: max-content;
    align-self: center;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
}

.task_wrapper::before,
.task_wrapper::after {
    content: "";
    background-color: #9e9e9e;
    height: 100%;
    display: block;
    width: 8px;
    border-radius: 3px;
    position: absolute;
}

.task_wrapper::after {
    right: 0;
}

.inner_task_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    width: calc(98% - 30px);
    height: 130px;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #848484;
    margin-bottom: 15px;
}

.task_content_wrapper {
    width: 100%;
}

.taskName {
    padding: 0;
    margin: 0;
    font-size: 25px;
    cursor: default;
    align-self: start;
}

.task_content_wrapper {
    display: flex;
    align-items: center;
}

.task_data_time {
    padding: 0;
    margin: 0;
    font-size: 20px;
    cursor: default;
}

.task_description {
    margin-left: 100px;
    height: 80px;
    width: 600px;
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: default;
    font-size: 15px;
    line-break: normal;
}

.button_pack {
    width: 200px;
    height: 80px;
    margin-left: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;

}

.task_button {
    height: 80px;
    width: 80px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    filter: drop-shadow(0 0 3px black);
    cursor: pointer;
    background-color: #e2e2e2;
}

.logo {
    filter: drop-shadow(0 0 5px #5e5e5e);
}

.button_edit:hover {
    background-color: #ffff2f;
}

.button_delete:hover {
    background-color: #ff1f1f;
}

.task_add_link {
    align-self: center;
    position: relative;
    cursor: pointer;
}
