<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/tasksPages/demoPage/demoPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap" rel="stylesheet">
</head>
<header class="header">
    <div class="dropdown" th:include="Moduls :: header(personNickName=${nick}, personId=${persId})"></div>
</header>
<body>
<div class="outer_wrapper">
    <form th:method="patch" th:action="@{'/tasks'}" th:object="${task}" class="add_form">
        <div class="basic_data_wrapper">
            <input type="hidden" name="personId" th:field="*{personId}">
            <input type="hidden" name="id" th:field="*{id}">
            <label class="login_label">
                Title<input type="text" name="name" class="login_input"
                            th:field="*{name}">
            </label>
            <p th:attr="style='color: red;font-family: \'Lexend Deca\', sans-serif;font-size: 15px;'" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            <label class="login_label">
                Description<textarea rows="10" cols="30" name="description" class="login_tet_area"
                                     th:field="*{description}" style="resize: none"></textarea>
            </label>
            <label class="login_label">
                Date-time<input type="datetime-local" name="eventTime" class="login_input"
                                th:field="*{eventTime}">
            </label>
            <p th:attr="style='color: red;font-family: \'Lexend Deca\', sans-serif;font-size: 15px;'" th:if="${#fields.hasErrors('eventTime')}" th:errors="*{eventTime}"></p>
            <div class="button_basic_data_wrapper">
                <button type="submit" class="add_task_button" style="margin-top: 10px">Save</button>
                <a type="submit" class="add_task_button"
                   style="margin-top: 10px; align-self: end; text-decoration: none; color: black;"
                   th:href="@{/}">Cancel</a>
            </div>
        </div>
        <div class="contact_list_wrapper">
            <p class="contacts_title">Contacts</p>
            <div class="contact_list_inner" th:each="contact, stat : *{contactDTOSet}">
                <div>
                    <div>
                        <input type="text" class="menu_element" style="margin: 5px 0 0 0; cursor: text"
                               th:name="|contactDTOSet[__${stat.index}__].email|"
                               th:field="*{contactDTOSet[__${stat.index}__].email}"
                               th:readonly="${#strings.equals(contact.getEmail(),personEmail)}">
                        <button style="align-self: end" type="submit" class="add_task_button"
                                th:if="${not #strings.equals(contact.getEmail(),personEmail)}"
                                th:formaction="@{'/tasks/deleteContact/{ind}'(ind=${stat.index})}">Delete
                        </button>
                    </div>
                    <p th:attr="style='color: red;font-family: \'Lexend Deca\', sans-serif;font-size: 15px;'" th:if="${#fields.hasErrors('contactDTOSet['+stat.index+'].email')}"
                       th:errors="*{contactDTOSet[__${stat.index}__].email}"></p>
                </div>
            </div>
            <p th:attr="style='color: red;font-family: \'Lexend Deca\', sans-serif;font-size: 15px;'" th:if="${#fields.hasErrors('contactDTOSet')}"
               th:errors="*{contactDTOSet}" style="align-self: center"></p>
        </div>
        <div class="new_contact_input_wrapper">
            <p class="contacts_title">Add&nbsp;new&nbsp;contact</p>
            <div>
                <div class="new_contact_input">
                    <label class="login_label"
                           style="font-size: 20px; flex-direction: row; align-items: center; justify-content: center">
                        Email<input type="text" name="email" class="login_input"
                                    style="font-size: 20px; width: 70%;height: 21px; margin: 0 0 0 5px"
                                    th:field="*{newContact}">
                    </label>
                    <button style="margin-right: 10px; align-self: end" type="submit" class="add_task_button"
                            th:formaction="@{/tasks/addContact}">Add
                    </button>
                </div>
                <p th:attr="style='color: red;font-family: \'Lexend Deca\', sans-serif;font-size: 15px;'" th:if="${#fields.hasErrors('newContact')}"
                   th:errors="*{newContact}"></p>
            </div>
        </div>
    </form>
</div>
</body>
</html>