<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/error/error.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
  <p class="h1">Sorry. This page is not allowed or server is down</p>
  <p class="h2">Please try later...</p>
  <img src="/error/gears.png" height="300px">
  <a class="a" href="/">
      <img src="/error/home.png" height="100px" class="img">
  </a>
</body>
</html>